.product-container {
    display: flex;
    justify-content: space-between;

    .product-section {
        width: 25%;
        text-align: center;

        .product-removal {
            font-size: 1.5rem;
            cursor: pointer;
        }

        .product-quantity {
            display: flex;
            justify-content: space-evenly;
            cursor: pointer
        }
    }
}